PORT=3000
APP_LOGIN_USER=demo
APP_LOGIN_PASSWORD=troque-esta-senha
SESSION_SECRET=gere-um-segredo-longo-aleatorio
COOKIE_SECURE=false
NESTLAB_BILLING_STATUS_URL=https://nestlab.com.br/api/billing/status
NESTLAB_BILLING_API_KEY=nl_bill_edfcaf8b82e59c0ff9c46cafa5fc27efd377390031ba397c25512bdb1dd53210
NESTLAB_NOTIFY_SECRET=mesmo_secret_cadastrado_no_cliente_nestlab
